<section class="Gallery-item">
    <div class="gallery-color"></div>
    <div class="Gallery">
        <ul class="gallery-list" >

            <li class=" gallery-list-item">
<ul class="gallery-list-mini">
    <li class="gallery-mini-item">
   
    </li>
</ul>
            </li>

            <li class=" gallery-list-item">
<ul class="gallery-list-mini">
    <li class="gallery-mini-item">

    </li>
    <li class="gallery-mini-item">

    </li>
</ul>
            </li>
            <li class=" gallery-list-item">
            <ul class="gallery-list-mini">
                <li class="gallery-big-item">
                    
                </li>
                <li class="gallery-mini-item">

                </li>
            </ul>
           </li>
            <li class=" gallery-list-item">
                <ul class="gallery-list-mini">
                    <li class="gallery-mini-item">

                    </li>
                    <li class="gallery-mini-item">

                    </li>
                </ul>

            </li>

            <li class=" gallery-list-item">
                <ul class="gallery-list-mini">
                    <li class="gallery-mini-item">

                    </li>
                    <li class="gallery-mini-item">

                    </li>
                </ul>

            </li>

            <li li class=" gallery-list-item">
                <ul class="gallery-list-mini">
                    <li class="gallery-mini-item">

                    </li>
                    
                </ul>

            </li>

            
            
        </ul>
    </div>
</section>