.about {
  padding-top: 125px;
  padding-bottom: 39px;
  margin-left: auto;
  margin-right: auto;
  background-color: $bgc-secondary-color;

  background-image: url('../images/about/milk-sprays/milk-sprays__mobile/sectionbg1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 85%;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/about/milk-sprays/milk-sprays__mobile/sectionbg1@2x.png');
  }
  @media screen and(min-width:768px) {
    padding-top: 130px;
    padding-bottom: 66px;
    background-image: none;
  }
  @media screen and(min-width:1200px) {
    width: 100%;
    padding-top: 139px;
    padding-bottom: 139px;
    background-image: url('../images/about/milk-sprays/milk-sprays__descktop/sectionbg1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/about/milk-sprays/milk-sprays__descktop/sectionbg1@2x.png');
    }
  }
}
.container-about {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and(min-width:768px) {
    width: 700px;
    padding: 0;
  }
  @media screen and(min-width:1200px) {
    width: 1050px;
  }
}
.about-subtitle {
  margin-top: 0;
  font-family: $appendicular-font-family;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: $pink-color;
  &:hover {
    transform: scale(1.2);
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
  }

  @media only screen and (max-width: 479px) {
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0px;
  }
  @media only screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and(min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.about_title {
  margin-top: 0;
  font-family: $appendicular-font-family;
  text-align: center;
  text-transform: uppercase;

  color: $red-color;
  &:hover {
    transform: scale(1.2);
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
  }

  @media only screen and (max-width: 479px) {
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 26px;
  }
  @media only screen and (min-width: 768px) {
    font-size: 48px;
    letter-spacing: 0.04em;
    margin-bottom: 50px;
  }
  @media screen and(min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}
.about-cow {
  min-width: 280px;
  margin-bottom: 46px;
  @media screen and(min-width: 768px) {
    min-width: 340px;
  }
  @media screen and(min-width: 1200px) {
    min-width: 516px;
  }
}
.about-items {
  margin-left: 30px;
}
.about-text {
  margin-bottom: 47px;

  width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: $title-color;
  &:hover {
    transform: scale(1.1);
  }
}
.about-excerpt {
  margin-bottom: 47px;
  width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: $text-color;
  &:hover {
    transform: scale(1.1);
  }
}
@media screen and(min-width: 768px) {
  .about-block {
    display: flex;
  }
  .about-list {
    padding-top: 50px;
  }
  .about-text {
    margin-bottom: 49px;
    width: 340px;
    font-size: 14px;
    line-height: 1.76;
  }
  .about-excerpt {
    margin-bottom: 62px;
    width: 340px;
    font-size: 14px;
    line-height: 1.76;
  }
}
@media screen and(min-width: 1200px) {
  .about-text {
    margin-bottom: 51px;
    width: 463px;
    font-size: 16px;
    line-height: 1.76;
  }
  .about-excerpt {
    margin-bottom: 29px;
    width: 463px;
    line-height: 1.94;
  }
}
.about-btn {
  display: flex;
  align-items: center;
  width: 176px;
  height: 44px;
  padding: 15px 10px 15px 37px;

  border: none;
  background-color: $white-color;
  border-radius: 22px;
  color: $red-color;
  font-weight: $font-weight-bold;
  font-size: 14px;
  line-height: 1.29;
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:focus {
    background-color: $bgc-primary-color;
  }
  &:hover {
    transform: translate(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  @media screen and(min-width:768px) {
    font-size: 16px;
    line-height: 1.31;
  }
}
.btn-arrow {
  margin-left: 14px;
  width: 5px;
  height: 8px;
  fill: $red-color;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  overflow-y: scroll;
}

.popup {
  position: absolute;
  z-index: 1;
  margin: auto;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: $bgc-secondary-color;
  @media screen and(min-width:600px) {
    width: 500px;
  }
  & .about_title {
    margin-bottom: 15px;
  }
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &::before {
    content: '';
    background-color: $red-color;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
  }
  &::after {
    content: '';
    background-color: $red-color;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(45deg);
  }
  &:hover {
    transform: scale(1.2);
  }
}
.text-popup {
  text-indent: 35px;
  line-height: 1.2;
}
.advantages {
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 97px;
  background-color: $bgc-secondary-color;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages-l {
  width: 230px;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.advantages-title {
  margin-bottom: 15px;
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: $red-color;
  &:hover {
    transform: scale(1.2);
  }

  @media screen and(min-width: 768px) {
    font-size: 48px;
  }
  @media screen and(min-width: 1200px) {
    font-size: 58px;
  }
}
.advantages-descr {
  margin-bottom: 38px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: $title-color;
  &:hover {
    transform: scale(1.2);
  }
}
.advantages-icon {
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  fill: $red-color;
  &:hover {
    transform: scale(1.2);
  }
}
